<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to gitPub, Pull up a stool!</h1>
    <p>Here's What We're Offering Today:</p>
    <ul>
        <% drinkList.forEach((tap, i)=>{ %>
            <li>
                <a href="drinks/<%=i%>"><%=drinkList[i].name.charAt(0).toUpperCase()+drinkList[i].name.slice(1) %></a>
            </li>
            
        <%})%>



    </ul>



    <style>
        body{
            color:seashell;
            background-color:dodgerblue;
        }
        a{
            text-decoration:none;
            color: white
        }
    </style>
</body>
</html>
