<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to gitPub, Pull up a stool!</h1>
    <p>If you're hungry, here's what we've got:</p>
    <ul>
        <% menu.forEach((item, i)=>{ %>
            <li>
                <a href="food/<%=i%>"><%=menu[i].name.charAt(0).toUpperCase()+menu[i].name.slice(1) %></a>
            </li>
            
        <%})%>

    </ul>
    <br>
    <a href="/drinks">
        <button>Drink Menu</button>
    </a>

    <style>
        body{
            color:seashell;
            background-color:firebrick;
        }
        a{
            text-decoration:none;
            color: white;
        }
        a:hover{
            color:rgb(159, 201, 255);
            font-size: large;
        }
    </style>
</body>
</html>