<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>At foo bar</h1>
    <a href="/food">back</a>
    <h2><%=food.name.split("")
        .map((letter, i) => i? letter:letter.toUpperCase())
        .join("") %></h2>
        <h3>$<%=food.price %></h3>
        <img src="<%=food.image %>" alt="<%food.name%>">
        
    </ul>